/* account.css */
h1 {
    padding-top: 30px;
    text-align: left;
}

div {
    padding-left: 10px
}

#name-div {
    padding-left: 1%;
    padding-top: 10px;
    padding-bottom: 10px;
}

#email-div {
    padding-left: 1%;
    padding-bottom: 10px;
}

#address-div {
    padding-left: 1%;
    display: flex;
}

#password-div {
    padding-left: 1%;
    padding-bottom: 10px;
    margin-top: 10px
}

#button-div {
    padding-left: 1%;
    padding-bottom: 10px;
}

#address-div div {
    padding-left: 1%;
}

[name="inner-address-div"] {
    border: black;
	border-width: 1px;
	border-style: solid;
    border-radius: 10px;
    width: 285px;
}

[name="inner-address-div"] div {
    display: flex;
    padding-top: 10px;
}

[name="inner-address-div"] div {
    width: 100%;
}

#address-country {
    margin-bottom: 10px;
}

#address-country {
    width: 172px;
}

label {
    width: 100px;
}

#page-content {
    border-width: 1px;
	border-style: solid;
    border-radius: 20px;
    background-color: #fff;
    width: 30%;
}

html {
    background-color: #D8D8D8;
}
