/* checkout.css */
label{
    padding-left: 10px;
    width: 40%;
}

p {
    padding-left: 10px;
}

#order-details {
    display: flex;
    flex-wrap: wrap;
}

#left-column {
    border-width: 1px;
	border-style: solid;
    border-radius: 20px;
    background-color: #fff;
    width: 30%;
}

#right-column {
    border-width: 1px;
	border-style: solid;
    border-radius: 20px;
    background-color: #fff;
    width: 30%;
}

#total-div {
    border-width: 1px;
	border-style: solid;
    border-radius: 20px;
    background-color: #fff;
    width: 20%;
}

html {
    background-color: #D8D8D8;
}
