/* home.css */
#categories {
    display: flex;
    flex-wrap: wrap;
}

html {
    text-align: center;
    background-color: #D8D8D8;
}

.category-button {
	border-style: solid;
    border-radius: 20px;
    background-color: #fff;
}

.category-button img {
    padding: 10px;
    box-sizing: border-box;
    height: 150px;
}

.category-button:hover img {
    transform: scale(103%);
}
