/* login.css */
h1 {
    padding-top: 30px;
    text-align: center;
}

#login-div {
    padding-left: 42%;
    padding-top: 3%;
}

#inner-login-div {
    border-width: 1px;
	border-style: solid;
    border-radius: 20px;
    background-color: #fff;
    padding: 10px;
    width: 255px;
}

#login-div div {
    padding-bottom: 10px;
}

#email-div label {
    padding-right: 25px;
}

#password-div label {
    padding-right: 2px;
}

#button-div button {
    width: 120px;
    padding-right: 20px;
}

html {
    background-color: #D8D8D8;
}