/* login.css */
h1 {
    padding-top: 30px;
    text-align: center;
}

#login-div {
    padding-left: 42%;
    padding-top: 3%;
}

#login-div div {
    padding-bottom: 10px;
}

#email-div label {
    padding-right: 25px;
}

#password-div label {
    padding-right: 2px;
}

#button-div button {
    width: 120px;
    padding-right: 20px;
}
