/* navbar.css */
#navbar {
    background-color: #fff;
    color: #fff;
    padding: 0px;
    display: flex;
    align-items: left;
    border: black;
	border-width: 1px;
	border-style: solid;
    border-radius: 20px;
    width: 100%;
}

.navbar-float-left,
.navbar-middle,
.navbar-float-right {
    height: 75px;
    display: flex;
    align-items: center;
}

.navbar-middle {
    width: 70%;
}

.navbar-image {
    width: 30px;
    height: 100%;
    padding-left: 20px;
}

#home-button img {
	height: 70px;
	width: auto;
	padding-right: 75px;
}

#search-form {
    display: flex;
    align-items: center;
}

#search-form {
    width: 80%;
}

#search-bar {
    width: 100%;
    height: 40px;
    padding: 5px;
    border: black;
	border-width: 1px;
	border-style: solid;
    border-radius: 10px;
	background-color: #f1f1f1;
}

.search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

/* Stil für die letzten 3 Icons */
.navbar-float-right:nth-last-child(-n+3) {
    margin-left: 0px; 
    margin-right: 20px; 
}
