/* search.css */

html {
    background-color: #D8D8D8;
}

#page-content {
    display: flex;
    flex-wrap: nowrap;
    padding-top: 20px;
    width: 100%;
}

#sort-filter {
    display: flex;
    flex-wrap: wrap;
    width: 10%;
    height: 260px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-width: 1px;
	border-style: solid;
    border-radius: 20px;
    background-color: #fff;
    padding-left: 10px;
}

#sort-filter input {
    width: 100%;
}

#sort-filter select {
    width: 100%;
}

#sort-filter label {
    padding-top: 20px;
}

#sort-filter button {
    margin-bottom: 10px;
}

#product-list {
    padding: 10px;
    width: 90%;
}

.product div {
    width: 100%;
    align-self: center;
    justify-content: left;
}

.product img {
    padding: 10px;
    width: 30%;
}

.product p {
    height: 18px;
    overflow: hidden;
}

.product a {
    width: 100%;
}

.product {
    padding: 10px;
    width: 99%;
    display: flex;
    flex-wrap: nowrap;
    border-width: 1px;
	border-style: solid;
    border-radius: 20px;
    background-color: #fff;
}
